.card {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  height: 36px;
  color: white;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transition:  background-color 300ms;
  }

  &-span {
    margin-right: auto;
    width: 100%;
  }

}

.is-focused {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
