<div class="card" (click)="choose(chat)" [class.is-focused]="isActiveChat()">
  <span class="card-span" >
    {{title}}
  </span>

  <button mat-icon-button *ngIf="isActiveChat()" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="menus">
      <mat-icon>dialpad</mat-icon>
      <span>Добавить в папку</span>
    </button>
    <button mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span (click)="deleteChatSpace(chat)">Удалить чат</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>


    <mat-menu #menus="matMenu">
      <tui-scrollbar class="box" >
        <ng-container *ngIf="chatModel$ | async as chatModel">
        <ng-container *ngIf="chatModel.item">
          <div class="chats"  *ngFor="let chatItem of chatModel.item | CardWithRoomsPipe">
            <app-chat-card
              (click)="addChatInRoom(chatItem)"
              [chat]="chatItem">
            </app-chat-card>
          </div>
        </ng-container>

        <ng-container *ngIf="chatModel.error">
          <span>Произошла ошибка</span>
        </ng-container>
        </ng-container>
      </tui-scrollbar>
    </mat-menu>




</div>

