.side {
  background-color: #7E5A5AFF;
  width: 240px;
  height: 100%;
}

.create-folder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20px 0;
}

.operation-form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.example-form-field {
  margin: 0 auto;
}

.input {
  max-width: 28.75rem;
  margin-bottom: 1.25rem;
}

.buttons {
  display: flex;
}

.chats-container {
  max-height: 400px;
  overflow: auto;
}
.box {
  width: 100%;
  max-height: 400px;
}

.is-focused {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.button-plus {
  margin: auto;
}

.chats-name {
  margin: 14px auto 0;
}

