@import '~@taiga-ui/core/styles/taiga-ui-local';

.side {
  background-color: #7E5A5AFF;
  width: 240px;
  height: 100%;
}
.example-form-field {
  //width: 220px;
  margin: 0 auto;
}

.operation-title {
  .text-overflow();
  margin-right: 1.5rem;
  flex-grow: 1;
}

.form-title {
  font: var(--tui-font-heading-6);
  margin: 0 0 1.25rem;
}

.input {
  max-width: 28.75rem;
  margin-bottom: 1.25rem;
}

.buttons {
  display: flex;
}

.chats-container {
  max-height: 400px;
  overflow: auto;
}
.box {
  width: 100%;
  height: 400px;
}

