<div class="side" >

  <ng-container *ngIf="chatModel$ | async as chatModel">
    <mat-accordion>
      <mat-expansion-panel #accordion
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="operation-title">{{title}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <h3 class="form-title">Создать рабочее пространство</h3>
        <form
          class="operation-form"
          [formGroup]="testForm"
          (submit)="onSubmit()"
        >
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Название</mat-label>
            <input class="input" formControlName="name" matInput type="text">
            <button
              *ngIf="testForm.controls['name'].value"
              matSuffix mat-icon-button aria-label="Clear"
              (click)="testForm.controls['name'].reset()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Выберите тип</mat-label>
            <mat-select  formControlName="accounts">
              <mat-option *ngFor="let items of accounts" [value]="items.name">
                {{items.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="buttons">
            <button
              tuiButton
              type="submit"
              size="m"
              class="tui-space_right-2"
              [disabled]="!testForm.valid"
            >
              Send
            </button>
            <button
              tuiButton
              type="button"
              appearance="flat"
              size="m"
              (click)="onClose()"
            >
              Cancel
            </button>
          </div>
        </form>

        <tui-scrollbar class="box" >
          <div class="chats"  *ngFor="let chatItem of chatModel.item">
            <app-chat-card
              [isActive]="isActive"
              (onChoose)="onChoose($event)"
              (onCloseAccordion)="onCloseAccordion()"
              [chat]="chatItem">
            </app-chat-card>
          </div>
        </tui-scrollbar>


      </mat-expansion-panel>
    </mat-accordion>

    <app-chats-side-name
      [model]="chatModelItem$ | async"
      [panelOpenState]="panelOpenState"
    ></app-chats-side-name>
  </ng-container>

</div>
