<div class="side" >

  <ng-container *ngIf="chatModel$ | async as chatModel">

    <div class="create-folder">
      <form
        *ngIf="openForm"
        class="operation-form"
        [formGroup]="testForm"
        (submit)="onSubmit()"
      >
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Название</mat-label>
          <input class="input" formControlName="title" matInput type="text">
<!--          <button-->
<!--            *ngIf="testForm.controls['title']?.value"-->
<!--            matSuffix mat-icon-button aria-label="Clear"-->
<!--            (click)="testForm.reset()">-->
<!--            <mat-icon>close</mat-icon>-->
<!--          </button>-->
        </mat-form-field>
      </form>

      <button
        tuiIconButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3 button-plus"
        [icon]="'tuiIconPlus'"
        [appearance]="'outline'"
        [size]="'s'"
        (click)="onClick()"
      ></button>

      <div class="chats-name">
        <span>Создать папку</span>
      </div>

    </div>


        <tui-scrollbar class="box" >
          <ng-container *ngIf="chatModel.item">
            <div class="chats"  *ngFor="let chatItem of chatModel.item">
              <app-chat-card
                [isActive]="isActive"
                (onChoose)="onChoose($event)"
                [chat]="chatItem">
              </app-chat-card>
            </div>
          </ng-container>

          <ng-container *ngIf="chatModel.error">
            <span>Произошла ошибка</span>
          </ng-container>
        </tui-scrollbar>


  </ng-container>

</div>
