<div class="side-panel">
  <ng-container *ngIf="spacesArray | async as spacesArray">
    <app-side-panel-card
      *ngIf="spacesArray.length"
      [spaces]="spacesArray"
      (handleShowSpace)="showSpace($event)"
      (handleSpace)="handleSpaceId($event)"
    ></app-side-panel-card>
  </ng-container>

  <textarea
    type="text"
    autocomplete="off"
    wrap="hard"
    class="side-panel__input"
    [(ngModel)]="value"
    placeholder="Назовите лист"></textarea>
  <button class="side-panel__button" (click)="onAddSpace()">+  Добавить пространство</button>
</div>
