<header class="header">
  <div class="header__menu">

    <button
      (click)="openPopup()"
      id="menu"
      class="header__button-menu"
      mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>menu</mat-icon>
      <label for="menu">Меню</label>
    </button>

<!--    <button-->
<!--      (click)="openPop()"-->
<!--      id="acc"-->
<!--      class="header__button-menu"-->
<!--      mat-icon-button aria-label="Example icon button with a vertical three dot icon">-->
<!--      <mat-icon>mat</mat-icon>-->
<!--      <label for="acc">acc</label>-->
<!--    </button>-->

    <div class="header__logo-container">
      <a [routerLink]="['/']">
        <img class="header__logo" src="assets/images/header_white_theme.gif" alt="Logo">
      </a>
      <span>{{time$ | async }}</span>
    </div>
  </div>


  <div class="header__button-container" *ngIf="!isLoggedIn">
    <a
      style="text-decoration: none"
      class="header__button"
      [routerLink]="['/sign-in']"
      routerLinkActive="active">Вход</a>
    <a
      style="text-decoration: none"
      class="header__button"
      [routerLink]="['/sign-up']"
      routerLinkActive="active">Регистрация</a>

  </div>

  <div class="header__button-container" *ngIf="isLoggedIn">

    <a
      style="text-decoration: none"
      class="header__button" [routerLink]="['/home']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
    >Главная</a>
    <a
      style="text-decoration: none"
      class="header__button"
      [routerLink]="['/calendar']"
      routerLinkActive="active">Календарь</a>
  <a
    style="text-decoration: none"
    class="header__button"
    [routerLink]="['/space']"
    routerLinkActive="active">Рабочее пространство</a>
  <a
    style="text-decoration: none"
    class="header__button"
    [routerLink]="['/journal']"
    routerLinkActive="active">Дневник</a>
    <a
      style="text-decoration: none"
      class="header__button"
      (click)="logout()"
      routerLinkActive="active">Выход</a>

  </div>
</header>

<!--<div class="menu__popup" *ngIf="popupOpen">-->
<!--  <div class="menu__popup-container">-->
<!--    <h2 class='menu__popup-title'>Привет, Имя!</h2>-->

<!--    <form class="menu__popup-form" [formGroup]="form" (ngSubmit)="submit()">-->

<!--      <div class="menu__popup-form-control">-->
<!--        <label for="email">E-mail:</label>-->
<!--        <input id="email" type="email" formControlName="email">-->
<!--      </div>-->

<!--      <div class="menu__popup-form-control">-->
<!--        <label for="name">Имя:</label>-->
<!--        <input id="name" type="text" formControlName="name">-->
<!--      </div>-->

<!--      <div class="menu__popup-form-control">-->
<!--        <label for="username">Имя пользователя:</label>-->
<!--        <input id="username" type="text" formControlName="username">-->
<!--      </div>-->

<!--      <button class="menu__popup-button" type="submit">Сохранить</button>-->

<!--    </form>-->

<!--  </div>-->
<!--</div>-->
