.header{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding: 1rem 7rem;
  &__border {
    border-bottom: none;
  }
  &__button-container{
    margin: auto 0;
  }
  &__button{
    border-radius: 30px;
    box-shadow:
      5px 5px 10px #c9c9c9,
      inset -5px -5px 8px -4px #c9c9c9,
      -5px -5px 10px #fdfdfd,
      inset 5px 5px 8px -4px #fdfdfd;
    margin-left: 20px;
    width: 60px;
    height: 40px;
    padding: 1rem 2rem;
  }

}

.header__logo-container {
  display: flex;
  flex-direction: column;
}

span{
  color: #4c4cda;
  font-size: 22px;

}

a{
  color: #605e5e;
  cursor: pointer;
}

.header__logo{
  max-width: 140px;
}

.active{
  box-shadow:
    5px 5px 10px #c9c9c9,
    inset -5px -5px 8px -4px #c9c9c9,
    inset -6px -6px 8px 0 #fdfdfd,
    -5px -5px 10px #fdfdfd,
    inset 5px 5px 8px -4px #fdfdfd,
    inset 6px 6px 8px 0 #c9c9c9;
}

@media screen and (max-width: 879px) {
  .header__logo {
    max-width: 175px;
  }
}
@media screen and (max-width: 620px) {
  .header__logo {
    max-width: 150px;
  }
}
@media screen and (max-width: 520px) {
  .header__logo {
    max-width: 104px;
  }
}
