<header class="header">
  <div class="header__menu">

    <div class="header__logo-container">
      <a [routerLink]="['/']">
        <img class="header__logo" src="assets/images/header_white_theme.gif" alt="Logo">
      </a>
    </div>

    <div class="profile__foto-container" *ngIf="isLoggedIn"
         (click)="openPopup()">
      <button class="profile__foto-edit"></button>
      <img class="profile__foto" alt="" src=""  />
    </div>
  </div>


  <div class="header__button-container" *ngIf="!isLoggedIn">
    <a
      style="text-decoration: none"
      class="header__button"
      [routerLink]="['/sign-in']"
      routerLinkActive="active">Вход</a>
    <a
      style="text-decoration: none"
      class="header__button"
      [routerLink]="['/sign-up']"
      routerLinkActive="active">Регистрация</a>

  </div>

  <div class="header__button-container" *ngIf="isLoggedIn">

    <a
      style="text-decoration: none"
      class="header__button" [routerLink]="['/home']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
    ><img class="header__button-image" src="assets/images/home.svg" alt="Logo"></a>
    <a
      style="text-decoration: none"
      class="header__button"
      [routerLink]="['/calendar']"
      routerLinkActive="active">
      <img class="header__button-image" src="assets/images/calendar.svg" alt="Logo">
    </a>
  <a
    style="text-decoration: none"
    class="header__button"
    [routerLink]="['/space']"
    routerLinkActive="active">
    <img class="header__button-image" src="assets/images/workspace.svg" alt="Logo">
  </a>
  <a
    style="text-decoration: none"
    class="header__button"
    [routerLink]="['/journal']"
    routerLinkActive="active">
    <img class="header__button-image" src="assets/images/journal.svg" alt="Logo">
  </a>

    <a
      style="text-decoration: none"
      class="header__button"
      (click)="logout()"
      routerLinkActive="active">
      <img class="header__button-image" src="assets/images/logout.svg" alt="Logo">
    </a>

  </div>

  <footer class="footer">
    <p class="footer__copyright">&copy; {{data}} GreTTo</p>
  </footer>
</header>
