<header class="header">
  <a [routerLink]="['/']">
    <img class="header__logo" src="assets/images/header_white_theme.gif" alt="Logo">
  </a>
  <div class="header__button-container">
    <a
      style="text-decoration: none"
      class="header__button" [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
    >Главная</a>
    <a
      style="text-decoration: none"
      class="header__button"
      [routerLink]="['/calendar']"
      routerLinkActive="active">Календарь</a>
  <a
    style="text-decoration: none"
    class="header__button"
    [routerLink]="['/space']"
    routerLinkActive="active">Рабочее пространство</a>
  </div>
</header>
