.header__time{
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px 16px 0 0;
  &-title{
    padding: 4px 14px;
    background-color: rgba(84, 84, 84, 0.1);
    border-radius: 10px;
  }
}
.header{
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  position: relative;
  background-color: #37afa2;
  &__border {
    border-bottom: none;
  }
  &__button-container{
    display: flex;
    flex-direction: column;
    margin: 20px auto 0;
  }
  &__button{
    width: 160px;
    height: 40px;
    overflow: hidden;
    margin-top: 20px;
    text-align: center;
  }

  &__button-image{
    width: 40px;
    height: 40px;
  }

}

.active{
  background-color: #248f85;
}

.header__menu {
  display: flex;
  flex-direction: column;
}

.header__button-menu{
  margin: auto 30px auto 0;
}

.header__logo-container {
  display: flex;
  flex-direction: column;
}

span{
  color: #4c4cda;
  font-size: 22px;

}

a{
  color: #605e5e;
  cursor: pointer;
}

.header__logo{
  max-width: 140px;
}

.profile__foto-container {
  display: flex;
  position: relative;
  padding: 20px;
  cursor: pointer;
}

.profile__foto-container:hover .profile__foto-edit{
  opacity: 1;
  transition: .1s linear;
}

.profile__foto-container:hover .profile__foto {
  opacity: 0.3;
  transition: .1s linear;
}


.profile__foto-edit {
  margin: auto;
  position: absolute;
  width: 122px;
  height: 122px;
  background-color: transparent;
  background-image: url('../../assets/images/profile_hover.svg');
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  opacity: 0;
  transition: all .3s ease;
}
.profile__foto{
  border-radius: 50%;
  width: 120px;
  height: 120px;
  align-self: center;
  object-fit: cover;
  transition: all .3s ease;
}

.footer{
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 20px;
  &__copyright{
    font-family: 'Inter', 'Arial', 'Helvetica', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0 auto;
  }
}

@media (max-width: 575px){
  .profile__foto {
    width: 180px;
    height: 180px;
    margin: 0;
  }
}
@media (max-width: 320px){
  .profile__foto {
    width: 125px;
    height: 125px;

  }
}

@media (max-width: 575px){
  .profile__foto-edit {
    width: 182px;
    height: 182px;
    margin: 0;
  }
}

@media (max-width: 575px){
  .profile__foto-container {
    max-width: 180px;
    max-height: 180px;
    margin: auto;
    align-self: center;
  }
}

@media screen and (max-width: 879px) {
  .header__logo {
    max-width: 175px;
  }
}
@media screen and (max-width: 620px) {
  .header__logo {
    max-width: 150px;
  }
}
@media screen and (max-width: 520px) {
  .header__logo {
    max-width: 104px;
  }
}
