<div class="hot">
  <div class="field__main">
    <app-side-panel
      (spaceCurrent)="spaceShow($event)"
      (spaceItem)="handleSpaceItem($event)"
      (handleDeleteSpaceId)="handleDeleteSpaceId($event)"
      [spacesArray]="spaces"
    ></app-side-panel>

    <ng-container *ngIf="currentSpace">
      <span class="title">{{currentSpace.title}}</span>
      <div class="field" cdkDropListGroup >
        <div *ngFor="let list of currentSpace?.list" >
          <app-list [list]="list"
                    (handleDeleteList)="handleDeleteList($event)"
                    (editSpace)="spacesAdd()"></app-list>
        </div>

        <app-list-default (listItem)="onAddList($event)"></app-list-default>
      </div>
    </ng-container>
  </div>
</div>

