.chats {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  justify-content: center;
  align-content: center;
  width: 220px;
}
.button-plus {
  margin: auto;
}

.chats-name {
  margin: 14px auto 0;
}

.example-form-field {
  width: 220px;
  margin: 0 auto;
}

.operation-form {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.box {
  width: 100%;
  max-height: 600px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
}
