.list {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 120px;
  margin-right: 14px;
  margin-top: 14px;
  background: #e0e0da;
  box-shadow:  0 0 10px gray;
  border-radius: 4px;
  position: relative;

  :nth-last-child {
    margin-right: 0;
  }
  &__container{
    overflow: hidden;
  }
  &__item-button{
    visibility: hidden;
    position: absolute;
    opacity: 0;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    padding: 0;
    right: 0;
    bottom: 7px;
    margin: auto 0;
    cursor: pointer;
    background: url('../../../assets/images/delete__icon.svg') center no-repeat;
    transition:  transform 300ms linear, visibility 0s linear 300ms, opacity 300ms;
  }
  &__item-button:hover {
    transform:  scale(1.6);

  }
}

.list:hover .list__item-button{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.input__list{
  position: relative;
  width: 80%;
  border: none;
  background: #e0e0da;
  border-radius: 4px;
  box-shadow:  0 0 5px gray;

  height: 30px;
  padding: 0 20px;
  margin: 10px 10px;
  outline: none;
}

.list__button {
  margin: 10px auto;
  height: 30px;
  width: 60%;
  border: none;
  background: #e0e0da;
  transition: text-shadow 0.2s ease-in;
  cursor: pointer;
  line-height: 20px;

  &:hover{
    text-shadow: 0 0 5px #605e5e;
  }
  &::first-letter {
    font-size: 20px;
  }
}

  .card__textarea {
    max-width: 90%;
    min-width: 90%;
    margin: 12px auto 0;
    min-height: 50px;
    border-radius: 3px;
    box-shadow: 0 0 10px 2px gray;
    border: none;
    background: #f5f5ef;

  }

.card__textarea::placeholder{
  font-style: italic;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

