<div class="menu__popup" >
  <div class="menu__popup-container" >
    <button class="popup__close" type="button" (click)="isClose()"></button>
    <h2 class='menu__popup-title'>Привет, Имя!</h2>

    <form class="menu__popup-form" [formGroup]="form" (ngSubmit)="submit()" >

      <div class="menu__popup-form-control">
        <label for="email">E-mail:</label>
        <input
          id="email"
          type="email"
          formControlName="email"

        >
      </div>

      <div class="menu__popup-form-control">
        <label for="name">Имя:</label>
        <input
          id="name"
          type="text"
          formControlName="name"

          appUsernameValidator
          >
        <mat-error *ngIf="form?.controls['name'].errors
        && form.controls['name'].errors.username">{{form.controls['name'].errors.username}}</mat-error>
      </div>

      <div class="menu__popup-form-control">
        <label for="username">Имя пользователя:</label>
        <input
          id="username"
          type="text"
          formControlName="username"

          appUsernameValidator>
        <mat-error *ngIf="form?.controls['username'].errors
        && form?.controls['username'].errors.username">{{form?.controls['username'].errors.username}}</mat-error>
        <mat-error *ngIf="form.controls['username'].errors
        && form.controls['username'].errors.usernameErr">{{form.controls['username'].errors.usernameErr}}</mat-error>
      </div>
      <button
        *ngIf="isFormDisabled"
        class="menu__popup-button"
        type="submit"
        (click)="onEdit()">Редактировать</button>

      <button *ngIf="!isFormDisabled"
              class="menu__popup-button"
              type="submit"
              [disabled]="form.invalid">Сохранить</button>

    </form>

  </div>
</div>
