<div class="user " [class.show]="showUserCard" (clickMouseOver)="clickMouseOver($event)">
    <img class="user-photo" *ngIf="userData?.avatar; else initials" alt="{{userData?.username}}" src="{{userData?.avatar}}" >
  <ng-template #initials>
    <span class="initials capitalize">{{firstLetter}}</span>
  </ng-template>
  <div class="user-description">
    <span class="capitalize">{{userData?.name}}</span>
    <span class="capitalize">{{userData?.surname}}</span>
    <span class="user-title">Информация о пользователе</span>
  </div>
  <button class="delete" *ngIf="showButtonDelete" (click)="delete(userData)">Удалить из WorkSpace</button>
</div>
