<div class="card" >
  <button
    (click)="openPopup()"
    class="card__item-button card__item-button-edit"
    mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>more_vert</mat-icon>
  </button>
  <p class="card__description">{{card?.titleCard}}</p>
  <button  class="card__item-button card__item-button-delete"
           (click)=" onDeleteCard(card?._id)"></button>
  <button  class="card__item-button card__item-button-important"
           [class.card__item-button-visible]="card.importantCard"
           (click)="card.importantCard ?
           onImportantDelete(card?._id) : onImportantCard(card?._id)"></button>
</div>
