.card{
  margin: 0 auto;
  width: 90%;
  cursor: grab;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  &__item-button {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    padding: 0;
    margin: auto 0;
    cursor: pointer;
    right: 0;
    transition:  transform 300ms linear, visibility 0s linear 300ms, opacity 300ms;

  }

  &__item-button-delete{
    top: 7px;
    background: url('../../../assets/images/delete__icon.svg') center no-repeat;

  }

  &__item-button-important{
    bottom: 4px;
    right: 9px;
    width: 13px;
    height: 13px;
    background: url('../../../assets/images/alarm-svgrepo-com.svg') center no-repeat;

  }
  &__item-button-edit {
    bottom: 4px;
    left: -6px;
  }
  &__item-button-visible{
    visibility: visible;
    opacity: 1;

  }

  &__item-button:hover {
    transform:  scale(1.3);

  }
}

.card:hover .card__item-button{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.card__description{
    width: 100%;
    min-height: 50px;
    margin: 12px auto 0;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    box-shadow: 0 0 10px 2px gray;
    background: #f5f5ef;
    padding: 10px 10px 10px 14px;

}
