<div class="card" >
  <button
    (click)="openPopup()"
    class="card__item-button card__item-button-edit"
    mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>more_vert</mat-icon>
  </button>
  <p class="card__description">{{card?.title}}</p>
  <button  class="card__item-button card__item-button-delete"
           (click)=" onDeleteCard(card?.id)"></button>
  <button  class="card__item-button card__item-button-important"
           [class.card__item-button-visible]="card.important"
           (click)="card.important ? onImportantDelete(card?.id) : onImportantCard(card?.id)"></button>
  <mat-button-toggle (click)="oenCard(card)">ff</mat-button-toggle>
</div>
