<div class="user" xmlns="http://www.w3.org/1999/html">
<div class="user__chat">
  <div class="user__header">
    <div class="user__headerLeft">
      <h4 class="user__userName">
      </h4>
    </div>
    <div class="user__headerRight">

    </div>
  </div>

  <div id="messages-container" class="user__messages">
    <app-message></app-message>
  </div>

  <div class="container" [ngClass]="{focus: control.dirty && control.untouched}">
      <tui-editor
        new
        class="container__editor"
        [formControl]="control"
        [tools]="tools"
        #editorNewComponent

      >
        Введите текст...
        <ng-container ngProjectAs="tools">
          <span class="hint" (click)="submit()">
            <tui-svg src="tuiIconArrowRight"></tui-svg>
            Отправить
        </span>
        </ng-container>
      </tui-editor>
    </div>

</div>

<div class="user__details">
<div class="user__header">
  <div class="user__headerLeft">
    <h4 class="user__userName">
      <strong>Details</strong>
    </h4>
  </div>
  <div class="user__headerRight">
    x
  </div>
</div>
<div class="user__detailsBody">
  <div class="user__detailsIdentity">
    <img src=""  alt="yfti"/>
    <h4 class='online'>
    user?.name
    </h4>
  </div>
  <div class="user__detailsActions">
            <span>
              Add
            </span>
    <span>
              Find
            </span>
    <span>
              Call
            </span>
    <span>

              More
            </span>
  </div>
<!--  <form class="channel__detailsForm">-->
<!--  <input-->
<!--    placeholder="Search for a user"-->
<!--    required-->
<!--  />-->
<!--  <button >-->
<!--    <div id="loading"></div>-->
<!--&lt;!&ndash;  {!searching ? 'Find' : <div id="loading"></div>}&ndash;&gt;-->
<!--  </button>-->
<!--  </form>-->
  <hr />
  <div class="channel__detailsMembers">
    <h4>Friends</h4>
<!--    {users.map((user) => (-->
<!--              <div-->
<!--                key={user?.uid}-->
<!--    class={`available__member ${-->
<!--    user?.status === 'online' ? 'isOnline' : ''-->
<!--    }`}-->
<!--    >-->
<!--      <Avatar src={user?.avatar} alt={user?.name} />-->
<!--                <Link to={`/users/${user?.uid}`}>{user?.name}</Link>-->
<!--                <FiberManualRecordIcon />-->
<!--    {currentUser?.uid.toLowerCase() === id.toLowerCase() ? (-->
<!--    <PersonAddDisabledIcon-->
<!--      onClick={() => remFriend(id, user?.uid)}-->
<!--    />-->
<!--  ) : (-->
<!--    ''-->
<!--  )}-->
  </div>
  ))}
</div>
</div>
</div>
<div id="callScreen"></div>

