@import '~@taiga-ui/core/styles/taiga-ui-local';

.card {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 4px;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transition:  background-color 300ms;
  }

  &-span {
    display: flex;
    align-items: center;
    margin-right: auto;
    width: calc(100% - 40px);
    height: 36px;
  }

}

.operation-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.is-focused {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
