<div
  class="message"
  onMouseEnter={toggleHover}
  onMouseLeave={toggleHover}
>
  <div class="message__data">
    <div class="message__left">
<!--      <Avatar-->
<!--        className="message__avatar"-->
<!--        src={avatar}-->
<!--        alt={`${name} ${uid} - Image`}-->
<!--      />-->
    </div>
    <div class="message__right">
      <div class="message__details">
<!--        <Link to={`/users/${uid}`}>{name}</Link>-->
<!--        <small>-->
<!--          <Moment unix date={timestamp} format="YYYY-MM-D hh:mm A" />-->
<!--        </small>-->
      </div>
      <p class="message__text">Message text</p>
    </div>
  </div>
</div>
