<div class="hot">
  <app-header></app-header>
  <mat-error *ngIf="form.controls['username']?.errors
        && form.controls['username'].errors?.usernameErr">{{form.controls['username']?.errors.usernameErr}}</mat-error>
  <mat-stepper orientation="vertical"  #stepper>
    <form [formGroup]="form">
      <mat-step >

        <ng-template matStepLabel>Введите электронный адрес</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input type="email"
                 matInput
                 formControlName="emailCtrl"
                 placeholder="E-mail"
                 required>

        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Назад</button>
          <button mat-button matStepperNext [disabled]="form.controls['emailCtrl'].invalid">Далее</button>
        </div>
      </mat-step>
      <mat-step  formGroupName="password">
        <ng-template matStepLabel>Введите пароль</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Пароль</mat-label>
          <input type="password"
                 matInput
                 formControlName="passwordCtrl"
                 placeholder="Пароль"
          >
        </mat-form-field>
        <ng-template matStepLabel>Введите пароль</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Повторите пароль</mat-label>
          <input type="password"
                 matInput
                 formControlName="cpassword"
                 placeholder="Пароль"
          >

        </mat-form-field>
        <mat-error *ngIf="form.controls['password']?.errors?.password">
          {{form.controls['password']?.errors?.password}}</mat-error>
        <div>
          <button mat-button matStepperPrevious>Назад</button>
          <button mat-button matStepperNext [disabled]="form.controls['password'].invalid">Далее</button>
        </div>
      </mat-step>
      <mat-step >
        <ng-template matStepLabel>Введите имя</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Имя</mat-label>
          <input matInput
                 placeholder="Ваше имя"
                 formControlName="nameCtrl"
                 minlength="2"
          >
        </mat-form-field>
        <mat-error *ngIf="form.controls['nameCtrl']?.errors
        && form.controls['nameCtrl'].errors?.username">{{form.controls['nameCtrl']?.errors.username}}</mat-error>
        <div>
          <button mat-button matStepperPrevious>Назад</button>
          <button mat-button matStepperNext [disabled]="form.controls['nameCtrl'].invalid">Далее</button>
        </div>
      </mat-step>
      <mat-step >
        <ng-template matStepLabel>Введите имя пользователя</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Имя пользователя</mat-label>
          <input matInput
                 placeholder="Ваш логин"
                 formControlName="userNameCtrl"
                 minlength="2"
                 required>
        </mat-form-field>
        <mat-error *ngIf="errorMessage">
          {{errorMessage}}</mat-error>
        <mat-error *ngIf="form.controls['userNameCtrl'].errors
    && form.controls['userNameCtrl']?.errors?.username">
          {{form.controls['userNameCtrl']?.errors?.username}}</mat-error>
        <mat-error *ngIf="form.controls['userNameCtrl']?.errors
        && form.controls['userNameCtrl'].errors?.usernameErr">{{form.controls['userNameCtrl']?.errors.usernameErr}}</mat-error>
        <div>
          <button mat-button matStepperPrevious>Назад</button>
          <button mat-button matStepperNext [disabled]="form.controls['userNameCtrl'].invalid">Далее</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Регистрация</ng-template>
        <p>Завершить регистрацию</p>
        <div>
          <button mat-button matStepperPrevious>Назад</button>
          <button mat-button (click)="stepper.reset()">Сбросить</button>
          <button mat-button [disabled]="form.invalid" (click)="submit()">Зарегистрироваться</button>

        </div>
      </mat-step>
    </form>
  </mat-stepper>
</div>
