<app-header></app-header>
<mat-stepper orientation="vertical"  #stepper>

  <mat-step [stepControl]="emailFormGroup">
    <form [formGroup]="emailFormGroup">
      <ng-template matStepLabel>Введите электронный адрес</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input type="email"
               matInput
               formControlName="emailCtrl"
               placeholder="E-mail"
               required>

      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button matStepperNext [disabled]="emailFormGroup.invalid">Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="passwordFormGroup">
    <form [formGroup]="passwordFormGroup">
      <ng-template matStepLabel>Введите пароль</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Пароль</mat-label>
        <input type="password"
               matInput
               formControlName="passwordCtrl"
               placeholder="Пароль"
               minlength="8"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button matStepperNext [disabled]="passwordFormGroup.invalid">Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="nameFormGroup">
    <form [formGroup]="nameFormGroup">
      <ng-template matStepLabel>Введите имя</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Имя</mat-label>
        <input matInput
               placeholder="Ваше имя"
               formControlName="nameCtrl"
               minlength="2"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext [disabled]="nameFormGroup.invalid">Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="userNameFormGroup">
    <form [formGroup]="userNameFormGroup">
      <ng-template matStepLabel>Введите имя пользователя</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Имя пользователя</mat-label>
        <input matInput
               placeholder="Ваш логин"
               formControlName="userNameCtrl"
               minlength="2"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext [disabled]="userNameFormGroup.invalid">Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Регистрация</ng-template>
    <p>Завершить регистрацию</p>
    <div>
      <button mat-button matStepperPrevious>Назад</button>
      <button mat-button (click)="stepper.reset()">Сбросить</button>
      <button mat-button (click)="submit()">Зарегистрироваться</button>

    </div>
  </mat-step>
</mat-stepper>

<app-footer></app-footer>
