
<div class="add-container">
  <span class="photo-container" (clickMouseOver)="clickMouseOver($event, mask)">
    <ng-container *ngIf="mask?.avatar; else initials">
        <img class="photo"  src="{{mask.avatar}}" alt="{{mask.name}}">
    </ng-container>

    <ng-template #initials>
    <span class="initials capitalize">{{firstLetter}}</span>
  </ng-template>
  </span>
</div>

<app-user-card
  (deletedWorkspaceOwner)="deletedWorkspaceOwner($event)"
  [userData]="userData"
  [showUserCard]="showUserCard">
</app-user-card>
