<div class="hot">
  <app-header></app-header>
  <div class="sign-in">
    <div class="sign-in__form-container">
      <form class="sign-in__form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="sign-in__form-control">
          <label for="email">E-mail:</label>
          <input id="email" type="email" formControlName="email">
        </div>

        <div class="sign-in__form-control">
          <label for="password">Пароль:</label>
          <input id="password" type="password" formControlName="password">
        </div>
        <button class="sign-in__button" type="submit" [disabled]="form.invalid">Войти</button>
      </form>
    </div>
  </div>
</div>
