@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background: lightgray;
  font-family: 'Roboto', sans-serif;
}

.mat-typography p{
  margin: 0 !important;
}

.angular-editor-wrapper{
  margin: 1rem 0;
  min-height: 42vh;

}

.angular-editor-textarea{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  min-height: 35vh !important;
  max-height: 42vh !important;
  box-shadow: 0 0 5px gray;
}

.hot {
  display: flex;
  flex-direction: row;
}

.capitalize{
  text-transform: capitalize;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#insertImage-{
  display: none;
}
#insertVideo-{
  display: none;
}

.mat-expansion-panel {
  background: rgba(77, 63, 63, 0.3)!important;

}

.mat-tooltip {
  /* your own custom styles here */
  color: white !important;
  font-size: 12px;
  background-color: #505050;
  letter-spacing: 0.08em;
}
