<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Списки</p>
    <form class="form" action="#" (ngSubmit)="onCreateList()">
      <input class="form__input" type="text" name="title" placeholder="Назовите список..." [(ngModel)]="titleList">
      <button class="form__button">Добавить новый список</button>
    </form>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button class="button-sidenav" type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>keyboard_arrow_left</mat-icon>Списки
    </button>
    <form class="form" action="#" (ngSubmit)="onCreateTask()">
      <input class="form__input" type="text" name="title" placeholder="Нужно сделать..." [(ngModel)]="titleTask">
      <button [hidden]="drawer.opened" class="form__button">Добавить новую запись</button>
    </form>

    <ul class="todo-list">
      <li class="todo" *ngFor="let todo of todoList$ | async">
        <input
          class="checkbox"
          type="checkbox"
          name="isCompleted"
          (change)="onComplete(todo)"
          [checked]="todo.isCompleted">
        <span class="text" *ngIf="!todo.isCompleted">{{ todo.title }}</span>
        <span class="text" *ngIf="todo.isCompleted"><del>{{ todo.title }}</del></span>
        <button mat-icon-button color="accent" class="remove" mat-button (click)="onRemove(todo)">
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    </ul>
  </div>

</mat-drawer-container>
