<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="sidenav">
      <p>Списки</p>
      <form [formGroup]="formList" class="form" action="#" (ngSubmit)="onCreateList()">
        <input
          class="form__input"
          type="text" name="title"
          placeholder="Назовите список..."
          formControlName="list">
        <button class="form__button">Добавить новый список</button>
      </form>
      <ng-container *ngFor="let list of lists$ | async">
        <div class="list-title" (click)="currentTodo(list)">
          <span>{{list.titleList}}</span>
          <button  class="button-delete"
                   (click)=" onDeleteList(list)"></button>
          </div>
      </ng-container>
    </div>
  </mat-drawer>

  <ng-container *ngIf="currentTodoList$ | async as currentTodoList; else noTodo">
  <div class="example-sidenav-content" >
    <p>{{currentTodoList?.titleList}}</p>
    <button *ngIf="!checkArrayTodo" class="button-sidenav" type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>keyboard_arrow_left</mat-icon>Списки
    </button>
    <form [formGroup]="form" class="form" action="#" (submit)="onCreateTask()" (click)="drawer.close()">
      <input
        class="form__input"
        type="text"
        name="title"
        placeholder="Нужно сделать..."
        formControlName="titleTask">
      <button
        [hidden]="drawer.opened"
        class="form__button"
        (submit)="onCreateTask()"
        [ngClass]="{invalid: form.invalid}"
      >Добавить новую запись</button>
    </form>


    <div class="todo-list" *ngIf="currentTodoList" (click)="drawer.close()">
      <ng-container *ngFor="let todo of currentTodoList?.list">
        <div class="todo" *ngIf="!todo?.isCompleted">
          <mat-checkbox
            class="checkbox"
            type="checkbox"
            name="isCompleted"
            (change)="onComplete(todo)"
            [checked]="todo?.isCompleted">
          </mat-checkbox>
          <span class="text" *ngIf="!todo?.isCompleted">{{ todo?.titleTodo }}</span>
          <button mat-icon-button color="accent" class="remove" mat-button (click)="onRemove(todo)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ng-container>

      <button *ngIf="checkCompleted(currentTodoList)" mat-icon-button color="#9E9E9E"  mat-button (click)="onShowCompleted()">
        <mat-icon *ngIf="!showCompletedTodo">keyboard_arrow_right</mat-icon>
        <mat-icon *ngIf="showCompletedTodo">keyboard_arrow_down</mat-icon>
        Выполненные
      </button>
      <ng-container *ngIf="showCompletedTodo">
        <ng-container *ngFor="let todo of currentTodoList?.list">
          <div class="todo" *ngIf="todo?.isCompleted">
            <mat-checkbox
              class="checkbox"
              type="checkbox"
              name="isCompleted"
              (change)="onComplete(todo)"
              [checked]="todo?.isCompleted">

            </mat-checkbox>
            <span class="text" *ngIf="todo?.isCompleted"><del>{{ todo?.titleTodo }}</del></span>
            <button mat-icon-button color="accent" class="remove" mat-button (click)="onRemove(todo)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  </ng-container>

  <ng-template #noTodo>
    <span class="warning">Сначала создайте список</span>
    <button class="button-sidenav" type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>keyboard_arrow_left</mat-icon>Создать список
    </button>
  </ng-template>
</mat-drawer-container>
.
