.example-container {
  width: 400px;
  min-height: 300px;
  box-shadow:  0 0 10px gray;
  padding: 1rem;
  margin: 1.5rem;
  border-radius: 6px;
}

.example-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.mat-drawer-container {
  background: none;
  color: black;
}

.warning{
  margin-top: 20px;
  color: #4c4cda;
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__input{
    height: 30px;
    margin-bottom: 6px;
    border: none;
    border-radius: 4px;
    color: black;
    padding: 0 4px;
    outline-color: grey;

  }
  &__button{
    height: 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 300ms;
    color: black;
  }
  &__button:hover{
    opacity: .8;
  }
  &__button.invalid{
    opacity: .2;
    cursor: default;
  }
}

.button-sidenav{
  place-self: start;
}

.todo-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 6px;
  place-self: start;
  width: 100%;
}

.todo{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  box-shadow:  0 0 5px gray;
  border-radius: 5px;
  padding: .3rem;
}

.text{
  margin: auto auto auto 0;
}

.checkbox {
  margin: auto 10px auto 0;
  cursor: pointer;
}

.sidenav{
  display: flex;
  flex-direction: column;
}

.list-title{
  min-height: 24px;
  box-shadow:  0 0 5px gray;
  cursor: pointer;
  transition: box-shadow 300ms, opacity 300ms;
  padding: 3px;
  position: relative;
}

.list-title:hover{
  box-shadow:  0 0 8px gray;
  opacity: .8;
}

.button-delete {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    padding: 0;
    margin: auto 0;
    cursor: pointer;
    right: 0;
    background: url('../../../../../assets/images/delete__icon-white.svg') center no-repeat;
    transition: transform 300ms linear, visibility 0s linear 300ms, opacity 300ms;

  }

.button-delete:hover {
  transform:  scale(1.3);

}


.list-title:hover .button-delete{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
