:host  {
  scrollbar-color: #484747FF #484747;     /* «цвет ползунка» | «цвет полосы скроллбара» */
  scrollbar-width: auto;  /* толщина: auto | thin | none */
}

.mat-tooltip {
  /* your own custom styles here */
  /* e.g. */
  color: yellow;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-row {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #828282;
  width: 100%;

}

.chat {
  background-color: #7E5A5AFF;
}

.content {
  background-color: #acadac;
  width: 100%;
  height: 100%;

}

.footer {
  background-color: #181717;
  width: 100%;
  height: 5vh;
  color: white;
}

.header{
  background-color: #7E5A5AFF;
  display: flex;
  height: 30px;
  margin: 0;
  padding: 32px 12px 24px 14px;
  justify-content: space-between;

  &__input {
    width: 15vw;
    border-radius: 6px;
    height: 26px;
    border: none;
  }
}

.mask-container {
  width: 33%;
  overflow-y: hidden;
  margin-bottom: -12px;
}

.mask-container::-webkit-scrollbar {
  //width: 15px; /* ширина для вертикального скролла */
  height: 5px; /* высота для горизонтального скролла */
  background-color: #a6a4a4;
  border-radius: 3px;
}

/* ползунок скроллбара */
.mask-container::-webkit-scrollbar-thumb {
  background-color: #484747FF;
  border-radius: 3px;
}

.title {
  width: 34%;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0.0025em;
  text-align: center;
}

.input {
  display: flex;
  flex-direction: row-reverse;
  width: 33%;
  height: 32px;
}

.input-container {
  margin-right: 8px;
}

.button{
  width: 98px;
  height: 32px;
  background-color: #F2F2F2;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.035em;
  color: #828282;
  border: none;
  cursor: pointer;
}

.button-lock{
  background: url("../../../../assets/images/lock.svg") 12px no-repeat;
  background-color: #F2F2F2;
}

.button:first-child{
  margin-right: 16px;
}
.button-add{
  width: 32px;
  background-color: #2F80ED;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.mask{
  display: flex;
  max-width: 400px;
}

.user-modal {
  margin-top: 5px;
  z-index: 11;
  position: absolute;
  background: rgba(101, 100, 100, 0.4);
  border-radius: 6px;
}

.margin {
  margin-left: auto;
}

.user-container {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
  width: 15vw;
  padding: 5px;
  cursor: pointer;

  &:hover {
    background: rgba(101, 100, 100, 0.5);
    border-radius: 8px;
    transition: background 300ms;
  }

}
