<div class="hot">
  <app-header></app-header>
  <div class="container">
    <div class="container-row">
      <app-side-panel
      (nameChat)="setNameChat($event)"
      ></app-side-panel>

      <app-chats-side-name
        class="chat"
        [model]="chatModelItem$ | async"
        (titleChat)="setNameChat($event)"
      ></app-chats-side-name>

      <div class="main">
        <div class="header">
          <div class="mask-container" *ngIf="usersModel$ | async as usersChatOwner">
              <div class="mask" *ngIf="usersChatOwner.state === state.READY">
                <ng-container *ngFor="let mask of usersChatOwner.item | filterSelf:showYourSelf">
                  <app-mask
                    (deletedOwnerWorkspace)="deletedOwnerWorkspace($event)"
                    [mask]="mask" class="mask"
                    [showButtonDelete]="checkOwner() && !showYourSelf"
                  ></app-mask>
                </ng-container>
              </div>

            <ng-container *ngIf="usersChatOwner.state === state.PENDING">
              <span>Loading</span>
            </ng-container>
          </div>

        <span class="title">{{chatTitle}}</span>

          <div class="input" (clickOutside)="clickOutside()" style="display: flex">
            <button
              *ngIf="checkChat()"
              matTooltip="Добавить пользователя в чат"
              matTooltipPosition="left"
              matTooltipClass=""
              class="button-add"
              (click)="onInputShow()">+</button>
            <div class="input-container" *ngIf="userModalShow" >
              <input
                id="input"
                (input)="searchUser($event)"
                class="header__input"
                placeholder="Введите имя" >

              <div  class="user-modal" *ngIf="users$ | async as users" >
                <div class="user-container" *ngFor="let mask of users | filterSelf" (click)="addUserInChat(mask)">
                  <app-mask [mask]="mask" [showButtonDelete]="false" class="mask"></app-mask>
                  <p class="capitalize">{{mask.name}} {{mask.surname}}</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="content">
          <app-dialog-user>
          </app-dialog-user>
        </div>
      </div>
    </div>

    <div class="footer">Информация в футтере</div>
  </div>

</div>
