* {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  max-width: 1140px;
  margin: 0 auto;
}

header{
  padding: 1rem 2rem;
}

.calendar{
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;

  &__btn{
    display: inline-block;
    background: #e0e0da;
    color: #333;
    padding: .4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: .5rem;
    transition: opacity .2s;
    outline: none;

    &:disabled{
      background: #545454;
      color: #fff;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      opacity: .8;
    }
  }

  &__btn-block{
    display: block;
    width: 88%;
  }

  &__btn-primary {
    background: red;
    color: white;
  }

  &__text-center{
    text-align: center;
  }

  &__link{
    color: blue;
    text-decoration: none;
    &:hover{
      color: #666;
    }
  }
  &__input{
    width: 80%;
    border: none;
    background: #e0e0da;
    border-radius: 4px;
    box-shadow:  0 0 5px gray;
    height: 30px;
    margin: 10px auto;
    outline: none;
  }

}

ul{
  list-style: none;
}
