.user {
  display: flex;
  max-width: 380px;
  height: 200px;
  margin-top: 35px;
  margin-left: -48px;
  z-index: 11;
  position: absolute;
  background: rgba(101, 100, 100, 0.8);
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition:  transform 500ms linear, visibility 0s linear 500ms, opacity 500ms;

}

.user-photo {
  width: 150px;
  object-fit: cover;
  margin-right: 5px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

span{
  padding: 3px;
}

.user-description {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.user-title {
  margin-top: auto;
}

.show{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 500ms;
}

.initials{
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.1em;
  align-self: center;
  color: white;

}

.delete{
  width: 80px;
  padding: 0 4px;
  cursor: pointer;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  transition: opacity 300ms;

  &:hover{
    opacity: .8;
  }
}

