<div class="user " [class.show]="showUserCard" (clickMouseOver)="clickMouseOver($event)">
  <button class="close" type="button"></button>
  <div class="user-photo">
    <img src="{{userData?.avatar}}" >
  </div>
  <div class="user-description">
    <span class="capitalize">{{userData?.name}}</span>
    <span class="capitalize">{{userData?.surname}}</span>
    <span class="capitalize user-title">Информация о пользователе</span>
  </div>
  <button class="delete">Удалить из WorkSpace</button>
</div>
