<section>
  <div class="calendar__header">
    Дата: <strong>{{ dateService.date | async | moment: 'DD.MM.YYYY' }}</strong>
    <hr />
  </div>

  <form (ngSubmit)="submit()" [formGroup]="form">
    <input type="text" formControlName="title" class="calendar__input">

    <button
      type="submit"
      class="calendar__btn calendar__btn-primary calendar__btn-block"
      [disabled]="form.invalid"
    >
      Добавить</button>
  </form>

  <main>
    <ul *ngIf="tasks?.length; else noTasks">
      <li class="task" *ngFor="let task of tasks; let i = index">
        <span>
          <strong>{{i + 1}}</strong>
          {{task.title}}
        </span>
        <button class="calendar__btn calendar__btn-delete" (click)="remove(task)">Удалить</button>
      </li>
    </ul>
    <ng-template #noTasks>
      <p class="calendar__text-center">Нет задач...</p>
    </ng-template>
  </main>


</section>
