<div class="article">
  <div class="article__img-container">
    <img class="article__img" src="https://cdn24.img.ria.ru/images/15427/25/154272500_0:20:640:383_600x0_80_0_0_f2f629e83811ca74442ea07fcdf6c81f.jpg">
  </div>
  <div class="article__description">
    <h1 class="article__description-title">Title</h1>
    <p class="article__description-text">Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения.</p>
    <p class="article__description-text grey">Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum"</p>
  </div>
</div>
